%format-li{
    list-style-type: none;
}
%format-a{
    border-bottom: none;
}
%flex-between{
    display: flex;
    justify-content:space-between;
}
%flex-around{
    display: flex;
    justify-content:space-around;
}
%flex-align-ct{
    display: flex;
    align-items:center;
}
